*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-family: 'Open Sans', sans-serif;
}
#cabecera{
    background-color: rgb(102, 102, 102);
    display: flex;
    justify-content: space-between;
    padding: 30px 10% 30px 10%;
}
h1{
    font-size: 30px;
}
#menu-cab{
    padding: 10px 50px 0px 50px;
    text-align: right;
}
.title2 {
    color: rgb(124, 124, 124);
}
nav>div>a{
    padding-right: 30px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    text-align: center;

}
nav>div>h1{
    color: rgb(0, 0, 0);
}
header{
    width: 100%;
    height: 600px;
    
    position: relative;
}
section>h1{
    font-size: 50px;
}
#title2{
    padding: 150px 20% 200px 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;  
    background: url(../images/img-title1.jpg);
    background-size: 100%;
}
#wave{
    width: 100%;
    bottom: 0;
    position: absolute;
    height: 100px;
    overflow: hidden;
}
.text{
    color: rgb(75, 75, 75);
}
#content{
    display: flex;
}
#title3{
    padding: 10px 10% 65px 10%;
    display: flex;
    justify-content: center;
}
#image-press{
    width: 50%;
    height:400px;
    margin-right: 20px;
}
#content-text{
    width: 50%;
    margin-right: 15px;
}
#content-text h3{
    margin-bottom: 25px;
}

#content-text h3 span{
    background: rgb(0, 0, 0);
    color:rgb(197, 197, 197);
    width: 30px;
    height: 30px;
    display: inline-block;
    border-radius: 50%;
    text-align: center;
    padding: 2px;
    margin-right: 7px;
}
#content-text p{
    padding: 0px 0px 30px 30px;
    text-align: justify;
    font-weight: 300;
}
.titles{
    color: rgb(124, 124, 124);
}
.galery-cont{
    display: flex;
    padding: 1% 10%;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-bottom: 60px;
}
#title4{
    padding: 150px 10% 25px 10%;
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}
.galery{
    height: 250px;
    width: 300px;
    margin-bottom: 50px;
}
.images{
    height: 70%;
    width: 100%;
}
footer{
    background-color: rgb(102, 102, 102);
}
#foot{
    display: flex;
    padding: 10px 10% 40px 10%;
}
.foot{
    margin-right: 90px;

}
.titles-foot{
    padding: 0 0 30px 0;
}
#services1{
    width: 60%;
    margin-right: 60px;
    padding: 0 150px 0 0;
    
}
#services2{
    display: flex;
    width: 40%;
     
}
#title-foot{
    margin-bottom: 30px;
}
.text-foot{
    color: rgb(0, 0, 0);
}